<h2>Recent Coupons:</h2>

<% @coupons.each do |coupon| %>
	<div class='indiecoupon'>
		<div class='code'>
			<%= coupon.code %>
		</div>
		<div class='title'>
			<%= coupon.title %> from <%= coupon.merchant %>
		</div>
		<div class='description'>
			<%= coupon.description %>
		</div>
		<div class='rating'>
			<%= coupon.rating %>
		</div>
		<div class='expires'>
			<%= coupon.expiration %>
		</div>
		
		<h4>Admin Stuff</h4>
		<%= link_to 'Show', coupon %></br>
	    <%= link_to 'Edit', edit_coupon_path(coupon) %></br>
	    <%= link_to 'Destroy', coupon, :confirm => 'Are you sure?', :method => :delete %></br>
	</div><!-- end indie coupon -->

<% end %>


<br />

<%= link_to 'New Coupon', new_coupon_path %>
