<h1>Listing coupons</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Merchant</th>
    <th>Expiration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.code %></td>
    <td><%= coupon.description %></td>
    <td><%= coupon.title %></td>
    <td><%= coupon.rating %></td>
    <td><%= coupon.merchant %></td>
    <td><%= coupon.expiration %></td>
    <td><%= link_to 'Show', coupon %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', coupon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coupon', new_coupon_path %>
