<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @coupon.title %>
</p>

<p>
  <b>Url:</b>
  <%= @coupon.url %>
</p>

<p>
  <b>Description:</b>
  <%= @coupon.description %>
</p>

<p>
  <b>Affurl:</b>
  <%= @coupon.affurl %>
</p>

<p>
  <b>Imageurl:</b>
  <%= @coupon.imageurl %>
</p>

<p>
  <b>Category:</b>
  <%= @coupon.category %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
